@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  a {
    @apply underline decoration-accent decoration-dashed underline-offset-4;
  }
}

.activating:not(.djs-connection) .djs-visual > :nth-child(1) {
  color: green !important; /* color elements as green */
  stroke: green !important; /* color elements as green */
  fill: green !important;
  opacity: 0.8;
}

.completed:not(.djs-connection) .djs-visual > :nth-child(1) {
  color: green !important; /* color elements as green */
  stroke: green !important; /* color elements as green */
  opacity: 0.5;
}