@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  a {
    @apply underline decoration-accent decoration-dashed underline-offset-4;
  }
}

.activated:not(.djs-connection) .djs-visual > :nth-child(1) {
  color: green !important;
  stroke: green !important;
  fill: green !important;
  opacity: 0.5;
}

.terminated:not(.djs-connection) .djs-visual > :nth-child(1) {
  color: gray !important;
  stroke: gray !important;
  fill: gray !important;
  opacity: 0.5;
}

.completed:not(.djs-connection) .djs-visual > :nth-child(1) {
  color: green !important;
  stroke: green !important;
  opacity: 0.5;
}

.flow_taken:not(.djs-connection) .djs-visual > :nth-child(1) {
  color: green !important;
  stroke: green !important;
  opacity: 0.5;
}

.incident:not(.djs-connection) .djs-visual > :nth-child(1) {
  color: red !important;
  stroke: red !important;
  fill: red !important;
  opacity: 0.5;
}
