@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
}

.highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  @apply text-green-600;
  fill: green !important; /* color elements as green */
  color: green !important; /* color elements as green */
  stroke: green !important; /* color elements as green */
}
